@main("Kendo example") {

    <!-- template -->
    <script id="entry-template" type="text/x-kendo-template">
        <article>
            <img src="assets/images/uploads/#= image_url #" alt="#= title #" />

            <div class="details">
                <h3>
                    #= title #
                    # if (location) { #
                    <small>#= location #</small>
                    # } #
                </h3>
            </div>
        </article>
    </script>

    <!-- datasource -->
    <script>
        var datasource = new kendo.data.DataSource({
            transport: {
                read: "/posts"
            },
            change: function() {
                var templateContent = $("#entry-template").html();
                var template = kendo.template(templateContent);

                var data = this.view();

                $("<div id='posts' />")
                    .html(kendo.render(template, data))
                    .find("article:first").addClass("current").end()
                    .appendTo("body");
            }
        });

        datasource.read();
    </script>

    <script src="assets/javascripts/main.js"></script>

}
