@main("Kendo example") {

    <!-- datasource -->
    <script>
        var datasource = new kendo.data.DataSource({
            data: [
                { title: 'Anemony', src: 'images/uploads/anemony.jpg' },
                { title: 'Lionfish', src: 'images/uploads/lionfish.jpg' },
                { title: 'Nautilus', src: 'images/uploads/nautilus.jpg' },
                { title: 'Our process', src: 'images/uploads/process.jpg' },
                { title: 'Purple leaf', src: 'images/uploads/purple-leaf.jpg' },
                { title: 'Scorpionfish', src: 'images/uploads/scorpionfish.jpg' }
            ],
            change: function() {
                console.log(this.view());
            }
        });
    </script>

}
