@main("Kendo example") {

    <!-- template -->
    <script id="entry-template" type="text/x-kendo-template">
        <article>
            <img src="assets/images/uploads/#= image_url #" alt="#= title #" />

            <div class="details">
                <h3>
                    #= title #
                    # if (location) { #
                    <small>spotted in #= location #</small>
                    # } #
                </h3>
            </div>
        </article>
    </script>

    <!-- datasource -->
    <script>
        var datasource = new kendo.data.DataSource({
            data: [
                { title: 'Anemony', image_url: 'anemony.jpg', location: 'Phuket, Thailand' },
                { title: 'Grumpy Scorpionfish', image_url: 'scorpionfish.jpg', location: '' },
                { title: 'Lionfish', image_url: 'lionfish.jpg', location: '' },
                { title: 'Nautilus', image_url: 'nautilus.jpg', location: '' },
                { title: 'Purple leaf', image_url: 'purple-leaf.jpg', location: '' },
                { title: 'Our process', image_url: 'process.jpg', location: '' }
            ],
            change: function() {
                var templateContent = $("#entry-template").html();
                var template = kendo.template(templateContent);

                var data = this.view();

                $("<div id='posts' />")
                    .html(kendo.render(template, data))
                    .find("article:first").addClass("current").end()
                    .appendTo("body");
            }
        });

        datasource.read();
    </script>

}
